
<!--
<div class="container" role="main">



  <div class="content">
    <article class="d-flex flex-column">
      <div class="d-flex justify-content-center">
      <h3 class="title">Teste Computadorizado de Atenção auditiva</h3>
      </div>

    </article>
       <router-outlet></router-outlet>

    <div class="container mt-3" >
      <a  mat-button routerLink="/cadastro" class="btn btn-primary  text-white text-capitalize">CLIQUE AQUI PARA INICIAR TESTE</a>

    </div>

  </div>-->

<div class="container">
  <header>
    <h1>{{ tituloPagina }}</h1>
  </header>
  <nav class="menu">
    <ul>
      <li><a routerLink="/">INÍCIO</a> </li>
      <li *ngIf="tituloPagina === 'TREINO'"><a routerLink="treino">TREINAR</a></li>
      <li *ngIf="tituloPagina === 'TREINO'" ><a routerLink="teste">PULAR TREINO</a></li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div class="copyright">
      ©️2020 - DESENVOLVIDO POR ELEVECOMUNICAÇÃO
    </div>
  </footer>


</div>
