
<div class="content" role="main">



  <div class="container">
    <article class="d-flex flex-column">
      <div class="d-flex justify-content-center">

        <h3> TESTE DE ATENÇÃO AUDITIVA</h3>
      </div>
      <P>
        Neste teste o computador emitirá alternadamente, sons da voz humana proferindo nomes de&nbsp;
        <strong >objetos, animais ou comidas </strong>
        <br>

        Quando você ouvir um nome do grupo CERTO, pressione a barra de espaço ou toque na barra vermelha
        abaixo o mais rápido que puder. Se ouvir um nome do grupo errado, não tome nenhuma ação.
      </P>
    </article>
    <aside class="right_article">
      <!-- Highlight Card -->
      <div class="card highlight-card card-small d-flex justify-content-center">

        <span>Pressione a tecla "ENTER" quando ouvir: <span class="text-success font-weight-bold">{{ questionAudio | uppercase }}</span> </span>
      </div>
      <!-- <router-outlet></router-outlet> -->
    </aside>



  </div>
